<div class="container">
  <div class="page-header">
    <h1>Edit Match</h1>
    <%= link_to '← Back', match_path(@match), class: 'btn btn-ghost' %>
  </div>
  <%= render 'form', match: @match %>
</div>